[Unit]
Description=Runs outlooksync perodically

[Service]
Type=simple
ExecStart=/bin/bash -c "PATH=/home/barts/bin:$PATH exec /home/barts/bin/outlooksync"

[Install]
WantedBy=default.target
