[Unit]
Description=Service to check for external monitors during boot.

[Service]
Type=Simple
RemainAfterExit=no
ExecStart=/usr/bin/kmonad /etc/systemd/system/home_row_modifiers.kbd
ExecStop=killall kmonad

[Install]
WantedBy=multi-user.target
