[credential]
	helper = store
[core]
	autocrlf = input
[user]
	name = bartste
	email = bartsteensma@outlook.com
	useConfigOnly = true
[push]
	autoSetupRemote = yes
	default = simple
[pull]
	rebase = false
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

[includeIf "gitdir:/home/barts/code/personal/"]
	path = /home/barts/.gitconfig-personal

[includeIf "gitdir:/home/barts/code/work/"]
	path = /home/barts/.gitconfig-work
[gpg]
	format = ssh
[init]
	defaultBranch = main
