[Unit]
Description=Update hosts

[Service]
Type=oneshot
ExecStart=/home/barts/dotfiles-linux/hosts/main
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=timers.target
